@model ProfileViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = Model.User.UserName;
}

<link rel="stylesheet" href="~/css/profile/detail.css">

<div class="d-flex justify-content-between">
    <div class="user-info-container">
        <div>
            <div class="text-center">

                <img src="@Model.User.Avatar"
                    class="size-400-fit-cover rounded-image box-shadow shadow-lg mb-2" />

                <div class="d-flex justify-content-center align-items-center">
                    <h1 class="pe-2">@Model.User.UserName</h1>
                    @if (Model.IsSameUser)
                    {
                        <a asp-action="Edit" asp-controller="Profile">
                            <img id="gear-img" src="~/images/gear.svg" />
                        </a>
                    }
                </div>
                <p>@Model.User.Country</p>
            </div>
            <div class="about-me-container text-justify">
                <h4>About me:</h4>
                @if (Model.User.AboutMe is null)
                {
                    <p class="fst-italic text-muted text-center">[No data presented]</p>
                }
                else
                {
                    <p>@Model.User.AboutMe</p>
                }
            </div>
        </div>
    </div>

    <div>
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <h4 class="text-left m-0">Available blogs:</h4>
            @if (Model.IsSameUser)
            {
                <button id="createblog-btn" class="fs-3">
                    <a asp-action="Create" asp-controller="Blog">
                        <img src="~/images/add.svg" />
                    </a>
                </button>
            }
        </div>
        <ol class="blogs-container">
            @foreach (var blog in Model.Blogs)
            {
                <li>
                    <div class="d-flex justify-content-between blog-title-time">
                        <h3>@blog.Title</h3>
                        <p>@blog.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                    </div>
                    <p class="text-break" style="white-space: pre-line"><!--
                        -->@blog.Content.EllipsisString(190) <!--
                        --><span><a asp-controller="Blog" asp-action="Read" asp-route-id="@blog.Id">[Read more]</a></span>
                    </p>
                    @if (Model.IsSameUser)
                    {
                        @Html.EditBlogButtons(
                            editHref: $"/Blog/Edit/{blog.Id}", 
                            deleteHref: $"/Blog/Delete/{blog.Id}"
                        )
                    }
                </li>
            }
            @* <li>
                <div class="d-flex justify-content-between blog-title-time">
                    <h3>Blog - '[Title]'</h3>
                    <p>01/08/2005</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Qui sed sit quisquam esse dolores facere amet! 
                    Molestiae modi, id rem eius iure ad enim quibusdam maiores, nobis dignissimos, optio a?
                    ...<span><a asp-controller="Blog" asp-action="Blog">[Read more]</a></span>
                </p>
                @Html.EditBlogButtons(editHref: "/Blog/Edit")
            </li> *@
        </ol>
    </div>
</div>

<script src="~/js/profile.js" asp-append-version="true"></script>