@using TechTales.Models.Profile;
@model UsersViewModel;
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <div class="rounded input-block border input-group mb-4 w-50 mx-auto">
        <input data-url="/Profile/List" required type="text" placeholder="Username" aria-label="Search" aria-describedby="search-button">
        <button class="rounded-end px-4 btn text-white bg-blueviolet outline-box-shadow">Search</button>
    </div>
    <div class="container">
        <div class="col-md-8 mx-auto">
            @if (Model.Users.Count == 0) 
            {
                <p class="no-data">[No data presented]</p>
            }
            else 
            {
                <ol id="blogs-list" class="list-unstyled">
                    @foreach (var user in Model.Users)
                    {
                        <li class="mb-4 p-4 d-flex gap-3 justify-content-between border shadow-sm rounded bg-light">
                            <div class="col-lg-4 text-start d-flex flex-column align-items-start justify-content-between">
                                <p class="mb-1 fw-bold">Email:</p>
                                <p class="mb-0 text-break">@user.Email</p>
                                <p class="mb-1 fw-bold mt-2">Country:</p>
                                <p class="mb-0 text-break">@user.Country</p>
                            </div>
                            <div class="d-flex flex-column align-items-center justify-content-between">
                                <p class="mb-0 fw-bold ws-nw">
                                Count of blogs: <span class="text-muted">@user.CountOfBlogs</span>
                                </p>
                                <a class="link ps-2 text-blueviolet ws-nw mb-2" href="/Profile/Detail/@user.Id">View more</a>
                            </div>
                            <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center text-center">
                                <a href="/Profile/Detail/@user.Id" class="d-inline-block">
                                    <img class="rounded-circle size-50-fit-cover shadow-sm mb-2" src="@user.Avatar">
                                </a>
                                <a href="/Profile/Detail/@user.Id" class="d-inline-block">
                                    <p class="mb-0 mt-2 text-break text-blueviolet">@user.UserName</p>
                                </a>
                            </div>
                        </li>
                    }
                </ol>
            }
            <ul class="blog-pagination d-flex justify-content-center gap-1 mt-4">
                <li>
                    <a class="text-blueviolet @(Model.CurrentPage <= 1 ? "disabled-pagination" : "")" asp-action="List" asp-route-page="@(Model.CurrentPage - 1)">«</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        <a class="text-blueviolet @(Model.CurrentPage == i ? "active-pagination" : "")" asp-action="List" asp-route-page="@i">@i</a>
                    </li>
                }
                
                <li>
                    <a class="text-blueviolet @(Model.CurrentPage >= Model.TotalPages ? "disabled-pagination" : "")" asp-action="List" asp-route-page="@(Model.CurrentPage + 1)">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/js/redirectInputHandler.js"></script>