@model BlogViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/blog.css">

<div class="create-blog-container">
    <h1>Create a new blog</h1>
    <form asp-controller="Blog" asp-action="Create" method="post" autocomplete="off">
        <input asp-for="@Model.Title" type="text" placeholder="Title" required>
        <textarea asp-for="@Model.Content" placeholder="Content" required></textarea>
        <div asp-validation-summary="All" class="mb-3 fw-bold text-danger inputs-container"></div>
        <div class="d-flex justify-content-between">
            <div class="visibility-radio-container">
                <div class="d-flex align-items-center">
                    <input asp-for="@Model.Visibility" type="radio" name="visibility" value="true" checked />
                    <label class="ps-2 fw-bold">Public</label>
                </div>
                <div class="d-flex align-items-center">
                    <input asp-for="@Model.Visibility" type="radio" name="visibility" value="false" />
                    <label class="ps-2 fw-bold">Private</label>
                </div>
            </div>
            <div>
                <input asp-for="@Model.Tags" type="text" placeholder="Tags (#tag1 #tag2 etc...)">
                <input asp-for="@Model.Categories" type="text" placeholder="Categories (Category1, Category2 etc...)">
            </div>
        </div>
        @Html.RoundedButton("Submit", type: "submit")
    </form>
</div>