@model CreateBlogViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/blog/create.css">

<div>
    <h1 class="text-darkblue mb-3">Create a new blog</h1>
    <form class="create-form" asp-controller="Blog" asp-action="Create" method="post" autocomplete="off">
        <div class="mb-3">
            <input asp-for="@Model.Title" class="form-control" type="text" placeholder="Title" aria-label="Title" required>
        </div>
        <div class="mb-3">
            <textarea asp-for="@Model.Content" class="content-text-area form-control" placeholder="Content" aria-label="Content" required></textarea>
        </div>
        <div asp-validation-summary="All" class="mb-3 fw-bold text-danger"></div>
        <div class="d-flex justify-content-between">
            <div class="visibility-radio-container">
                <div class="py-1 d-flex align-items-center">
                    <input class="checkbox" asp-for="@Model.Visibility" type="radio" name="visibility" value="true" checked />
                    <label class="text-darkblue ps-2 fw-bold">Public</label>
                </div>
                <div class="py-1 d-flex align-items-center">
                    <input class="checkbox" asp-for="@Model.Visibility" type="radio" name="visibility" value="false" />
                    <label class="text-darkblue ps-2 fw-bold">Private</label>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <input asp-for="@Model.Tags" class="outline-box-shadow form-control" type="text" placeholder="#tag1 #tag2 etc..." aria-label="Tags">
                </div>
                <div class="mb-3">
                    <input asp-for="@Model.Categories" class="outline-box-shadow form-control" type="text" placeholder="Category1, Category2 etc..." aria-label="Categories">
                </div>
            </div>
        </div>
        <button type="button" class="submit-button outline-box-shadow btn outline-border ms-auto d-flex">Submit</button>
    </form>
</div>

<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> *@

<!-- Modal -->
<div class="modal fade" id="errorModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-darkblue modal-title" id="errorModalTitle">Validation Error</h5>
                <button type="button" class="close bg-transparent" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-darkblue modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="outline-box-shadow btn outline-border my-3 ms-auto" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/blog/create.js"></script>