@model BlogViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/blog/blog.css">

<div class="create-blog-container">
    <h1>Edit blog '@Model.Title'</h1>
    <form asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id" method="post" autocomplete="off">
        <input asp-for="@Model.Title" type="text" placeholder="Title">
        <textarea asp-for="@Model.Content" placeholder="Content"></textarea>
        <div class="d-flex justify-content-between">
            <div class="visibility-radio-container">
                @if (Model.Visibility)
                {
                    <div class="d-flex align-items-center">
                        <div class="d-inline-flex align-items-center">
                            <input asp-for="@Model.Visibility" type="radio" name="visibility" value="true" checked />
                            <label class="ps-2 fw-bold" for="Public">Public</label>
                        </div>
                        <span class="text-muted ps-1"> - Current blog state</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <input asp-for="@Model.Visibility" type="radio" name="visibility" value="false" />
                        <label class="ps-2 fw-bold" for="Private">Private</label>
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center">
                        <input asp-for="@Model.Visibility" type="radio" name="visibility" value="true" />
                        <label class="ps-2 fw-bold" for="Public">Public</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-inline-flex align-items-center">
                            <input asp-for="@Model.Visibility" type="radio" name="visibility" value="false" checked />
                            <label class="ps-2 fw-bold" for="Private">Private</label>
                        </div>
                        <span class="text-muted ps-1"> - Current blog state</span>
                    </div>
                }
            </div>
            <div>
                <input asp-for="@Model.Tags" type="text" placeholder="Tags (#tag1 #tag2 etc...)">
                <input asp-for="@Model.Categories" type="text" placeholder="Categories (Category1, Category2 etc...)">
            </div>
        </div>
        @Html.RoundedButton("Submit", type: "submit")
    </form>
</div>