@model ReadBlogViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog/read.css">

<div class="container">
    <div class="d-flex justify-content-between blog-sidepanel-container">
        <div class="blog-container px-5 py-3 border flex-grow-1">
            <h1 class="display-1 text-break ws-pl mt-2 mb-4 text-center">@Model.Title</h1>
            <hr class="mx-auto" style="opacity: 1;width: 150px; height: 5px; background-color: blueviolet;">
            <p class="text-break ws-pl display-6">@Model.Content</p>
            <div class="text-muted d-flex flex-column align-items-end justify-content-end">
                @if (Model.Categories?.Length != 0)
                {
                    <p class="m-0"><span class="fw-bold">Categories: </span>@Model.Categories</p>
                }

                @if (Model.Tags?.Length != 0)
                {
                    <p class="m-0"><span class="fw-bold">Tags: </span>@Model.Tags</p>
                }
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center my-4 p-3 bg-light border rounded shadow-sm">
        <a asp-action="Detail" asp-controller="Profile" asp-route-id="@Model.Author.Id">
            <img class="user-img rounded-circle d-inline-block" src="@Model.Author.Avatar" />
        </a>
        <div class="d-flex justify-content-center flex-column ms-3">
            <p class="m-0">
                <a class="text-blueviolet" asp-action="Detail" 
                    asp-controller="Profile" 
                    asp-route-id="@Model.Author.Id">
                    @Model.Author.UserName</a></p>
            <p class="m-0 text-muted">@Model.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
        </div>
    </div>
    <div class="comments-container px-4 py-3 border" id="comments-section">
        <p class="fs-3">Comments</p>
        <ol class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <li class="mb-4 p-4 bg-light border rounded shadow-sm">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex flex-grow-1">
                            <a asp-action="Detail" asp-controller="Profile" asp-route-id="@comment.Author.Id">
                                <img class="user-img rounded-circle" src="@comment.Author.Avatar" />
                            </a>
                            <div class="ms-3 d-flex justify-content-center flex-column">
                                <p id="@comment.Author.Id" class="comment-author-id m-0 text-break">
                                    <a class="text-blueviolet"
                                        asp-action="Detail"
                                        asp-controller="Profile"
                                        asp-route-id="@comment.Author.Id">@comment.Author.UserName</a>
                                </p>
                                <p class="m-0 text-muted">@comment.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                            </div>
                        </div>
                        @if (comment.IsSameUser)
                        {
                            <div class="d-flex justify-content-end align-items-start">
                                @Html.EditBlogButtons(
                                    editClass: "edit-comment-btn bg-transparent btn-outline-light me-2",
                                    editFill: "darkblue", 
                                    deleteClass: "delete-comment-btn bg-transparent btn-outline-light",
                                    deleteFill: "darkblue"
                                )
                            </div>
                        }
                    </div>
                    <p id="@comment.Id" class="m-0 mt-2 comment-content text-break ws-pl">@comment.Content</p>
                    @if (comment.IsSameUser) 
                    {
                        <div class="cancel-submit-comment-container text-end" hidden>
                            <div class="d-flex justify-content-end">
                                <button type="button"
                                        class="cancel-comment-button outline-box-shadow btn px-4 mt-2 ms-auto bg-blueviolet text-white">Cancel</button>
                                <button type="button"
                                        class="submit-comment-button outline-box-shadow btn px-4 ms-2 mt-2 bg-blueviolet text-white">Submit</button>
                            </div>
                        </div>
                    }
                </li>
            }
        </ol>
        <div class="bg-light p-4 border rounded shadow-sm">
            @if (Model.Reader is null)
            {
                <p class="no-data">[To be able to comment
                    <a class="text-blueviolet" href="/Authorization/Signup">Create</a> an account or
                    <a class="text-blueviolet" href="/Authorization/Login">Log into</a> an existing one]
                </p>
            }
            else
            {
                <input type="hidden" name="BlogId" value="@Model.Id" />
                <input type="hidden" name="ReaderId" value="@Model.Reader.Id" />
                
                <div class="d-flex align-items-start mb-3">

                    <a asp-action="Detail" asp-controller="Profile" asp-route-id="@Model.Reader.Id">
                        <img class="user-img rounded-circle" src="@Model.Reader.Avatar" />
                    </a>
                    
                    <textarea name="Content" type="text" required 
                        class="addcomment ms-3 w-100 px-3 py-2 form-control outline-box-shadow" placeholder="Add a comment..." aria-label="Add a comment..."></textarea>

                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="add-comment-btn outline-box-shadow btn px-4 ms-auto bg-blueviolet text-white">Leave a comment</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
<script src="~/js/blog/signalr.init.js"></script>
<script src="~/js/blog/read.js"></script>