@model ReadBlogViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog/read.css">

<div>
    <div class="d-flex justify-content-between blog-sidepanel-container">
        <div class="blog-container px-4 py-3 outline-border flex-grow-1">
            <h1 class="mt-2 mb-4 text-center">@Model.Title</h1>
            <hr>
            <p class="text-break ws-pl">@Model.Content</p>
            @if (Model.Categories is not null && Model.Categories.Length != 0)
            {
                <p><span class="fw-bold">Categories: </span>@Model.Categories</p>
            }

            @if (Model.Tags is not null && Model.Tags.Length != 0)
            {
                <p><span class="fw-bold">Tags: </span>@Model.Tags</p>
            }
        </div>
        <div class="ms-3 sidepanel outline-border">
            <ul class="py-3 px-4">
                <li class="px-2 mb-3">
                    <a href="" class="text-blueviolet">Popular blogs</a>
                </li>
                <li class="px-2 mb-3">
                    <a href="" class="text-blueviolet">Categories</a>
                </li>
                <li class="px-2 mb-3">
                    <a href="" class="text-blueviolet">Tags</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="py-3 px-3 my-3 d-flex flex-grow-1 outline-border">
        <a asp-action="Detail" asp-controller="Profile" asp-route-id="@Model.Author.Id">
            <img class="user-img rounded-image outline-box-shadow d-inline-block" src="@Model.Author.Avatar" />
        </a>
        <div class="d-flex justify-content-center flex-column ms-3">
            <p class="m-0">
                <a class="text-blueviolet" asp-action="Detail" 
                    asp-controller="Profile" 
                    asp-route-id="@Model.Author.Id">
                    @Model.Author.UserName</a></p>
            <p class="m-0">@Model.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
        </div>
    </div>
    <div class="comments-container px-4 py-3 outline-border" id="comments-section">
        <p class="fs-3">Comments</p>
        <ol class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <li class="mb-4 p-4 outline-border">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex flex-grow-1">
                            <a asp-action="Detail" asp-controller="Profile" asp-route-id="@comment.Author.Id">
                                <img class="user-img rounded-image outline-box-shadow" src="@comment.Author.Avatar" />
                            </a>
                            <div class="ms-3 d-flex justify-content-center flex-column">
                                <p id="@comment.Author.Id" class="comment-author-id m-0">
                                    <a class="text-blueviolet"
                                        asp-action="Detail"
                                        asp-controller="Profile"
                                        asp-route-id="@comment.Author.Id">@comment.Author.UserName</a>
                                </p>
                                <p class="m-0">@comment.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                            </div>
                        </div>
                        @if (comment.IsSameUser)
                        {
                            <div class="d-flex justify-content-end align-items-start">
                                @Html.EditBlogButtons(
                                    editClass: "edit-comment-btn bg-transparent btn-outline-light me-2",
                                    editFill: "#e6edf3", 
                                    deleteClass: "delete-comment-btn bg-transparent btn-outline-light",
                                    deleteFill: "#e6edf3"
                                )
                            </div>
                        }
                    </div>
                    <p id="@comment.Id" class="m-0 mt-2 comment-content text-break ws-pl">@comment.Content</p>
                    @if (comment.IsSameUser) 
                    {
                        <div class="cancel-submit-comment-container text-end" hidden>
                            <div class="d-flex justify-content-end">
                                <button type="button"
                                        class="cancel-comment-button outline-box-shadow btn btn-dark mt-2 ms-auto">Cancel</button>
                                <button type="button"
                                        class="submit-comment-button outline-box-shadow btn btn-dark ms-2 mt-2">Submit</button>
                            </div>
                        </div>
                    }
                </li>
            }
        </ol>
        <div class="p-4 mb-4 outline-border">
            @if (Model.Reader is null)
            {
                <p class="text-center m-0 fst-italic text-muted">[To be able to comment
                    <a class="text-blueviolet" href="/Authorization/Signup">Create</a> an account or
                    <a class="text-blueviolet" href="/Authorization/Login">Log into</a> an existing one]
                </p>
            }
            else
            {
                <input type="hidden" name="BlogId" value="@Model.Id" />
                <input type="hidden" name="AuthorId" value="@Model.Author.Id" />
                
                <div class="d-flex justify-content-between">
                    <a asp-action="Detail" asp-controller="Profile" asp-route-id="@Model.Reader.Id">
                        <img class="user-img rounded-image outline-box-shadow" src="@Model.Reader.Avatar" />
                    </a>
                    
                    <textarea name="Content" type="text" required 
                        class="addcomment ms-3 w-100 px-3 py-2 form-control" placeholder="Add a comment..." aria-label="Add a comment..."></textarea>

                    @* <textarea minlength="1" required name="Content"
                              class="addcomment outline-box-shadow ms-2 w-100 px-3 py-2" 
                              type="text" placeholder="Add a comment..."></textarea> *@
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="add-comment-btn outline-box-shadow btn btn-dark mt-2 ms-auto">Leave a comment</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
<script src="~/js/blog/signalr.init.js"></script>
<script src="~/js/blog/blog.js"></script>