@model TechTales.Models.SignupViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/authorization/authorization.css" />

<div class="d-flex justify-content-between text-center authorization-form-container">
    <form asp-controller="Authorization" asp-action="Signup" method="post" autocomplete="off">
        <div class="text-center logo-container">
            <h1>Welcome</h1>
            <img src="~/images/logo.svg" alt="logo" />
        </div>
        <div asp-validation-summary="All" class="fw-bold text-danger inputs-container">

            @Html.UnderlineInput(
                type: "text", 
                placeholder: "Username", 
                required: true, 
                aspFor: "UserName")

            @Html.UnderlineInput(
                type: "email", 
                placeholder: "Email", 
                required: true, 
                aspFor: "Email")

            @Html.UnderlinePasswordInput(
                placeholder: "Password", 
                id: "input-password", 
                required: true, 
                eyeId: "eye-password", 
                aspFor: "Password")

            @Html.UnderlinePasswordInput(
                placeholder: "Repeat password", 
                id: "input-repeat-password", 
                required: true, 
                eyeId: "eye-repeat-password", 
                aspFor: "RepeatPassword")
            
        </div>
        @Html.RoundedButton("Sign up", type: "submit", padding: "16px 0", width: "100%", margin: "16px 0 32px 0")
        <p>
            Already have an account? <span><a href="Login">Log in</a></span>
        </p>
    </form>
    <div>
        <img src="~/images/signup_banner.jpg" />
    </div>
</div>

<script src="~/js/authorization.js" asp-append-version="true"></script>