@model FindViewModel;
@using TechTales.Helpers.Extensions
@{
    ViewData["Title"] = "Find";
}

<link rel="stylesheet" href="~/css/filter/find.css">

<div class="text-center">
    <div class="rounded input-block border input-group mb-4 w-50 mx-auto">
        <input required type="text" placeholder="Title, Category, Tag, Content..." aria-label="Search" aria-describedby="search-button" value="@Model.Request">
        <button class="rounded-end btn text-white bg-blueviolet px-4 outline-box-shadow" id="search-button">Search</button>
    </div>
    <div class="container">
        <div class="col-md-8 mx-auto">
            @if (Model.Blogs.Count == 0) 
            {
                <p class="no-data">[No data presented]</p>
            }
            else 
            {
                <ol id="blogs-list" class="list-unstyled">
                    @foreach (var blog in Model.Blogs)
                    {
                        <li class="mb-4 p-4 border rounded">
                            <div class="d-flex justify-content-between">
                                <div class="blog-title-content pe-4">
                                    <h3 class="fw-bold text-break">@blog.Title</h3>
                                    <p class="text-break">
                                        @blog.Content.EllipsisString(230)
                                        <a class="text-blueviolet" asp-action="Read" asp-controller="Blog" asp-route-id="@blog.Id">[Read more]</a>
                                    </p>
                                </div>
                                <div class="blog-time-user text-center">
                                    <p>@blog.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                    <a asp-action="Detail" asp-controller="Profile" asp-route-id="@blog.Author.Id">
                                        <img class="rounded-circle size-50-fit-cover" src="@blog.Author.Avatar" />
                                        <p class="mt-2 text-break">@blog.Author.UserName</p>
                                    </a>
                                </div>
                            </div>
                            <div class="text-muted">Views: @blog.Views</div>
                        </li>
                    }
                </ol>
            }
            <ul class="blog-pagination d-flex justify-content-center gap-1 mt-4">
                <li>
                    <a class="text-blueviolet @(Model.CurrentPage <= 1 ? "disabled-pagination" : "")" href="/Filter/Find?page=@(Model.CurrentPage - 1)&orderBy=dateLate">«</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        <a class="text-blueviolet @(Model.CurrentPage == i ? "active-pagination" : "")" href="/Filter/Find?page=@i&orderBy=dateLate">@i</a>
                    </li>
                }
                
                <li>
                    <a class="text-blueviolet @(Model.CurrentPage >= Model.TotalPages ? "disabled-pagination" : "")" href="/Filter/Find?page=@(Model.CurrentPage + 1)&orderBy=dateLate">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/js/filter/find.js"></script>